@use './variables' as *;
@import './reset';

body {
	color: white;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	background-color: $yellow;
	height: 100vh;
}

.container {
	padding: 0 20px;
	width: 1400px;
	max-width: 100%;
	margin: 0 auto;
}

.flex-container {
	display: flex;

	&--column {
		flex-direction: column;
	}

	&--space-between {
		justify-content: space-between;
	}

	&__flex-item {
		flex: 1;
	}
}

.division {
	background-color: $light-yellow;
	border-radius: 40px;
}
