@use './variables' as *;
@import './reset';

body {
	background-color: $yellow;
}

.container {
	padding: 0 20px;
	width: 1400px;
	max-width: 100%;
	margin: 0 auto;

	&--padding {
		padding: 0 75px;
	}
}
